<div id="sl_footer" class="sl_footer">

	<div class="sl_footer__branding">
		<div class="sl_inner">
			<div class="sl_row medium-up-2">

			{# FOOTER Logos #}
			{% include "partials/footer/footer-logos.twig" %}

			{# FOOTER Accreditations #}
			{% include "partials/footer/footer-accreditations.twig" %}

			</div>{# /.sl_row#}
		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__branding #}

	<div class="sl_footer__menu show-for-large">
		<div class="sl_inner">

			<div class="sl_row">
				{# FOOTER MAIN MENU #}
				<div class="sl_cell show-for-large large-5">
		    		{% include "footer/footer-menu.twig" with {'menu': menu.get_items }%}
		    	</div>{# /.sl_cell #}

		    	{# FOOTER USER MENU #}
		    	<div class="sl_cell large-auto">
		    		{% include "menu/user-menu.twig" with {'user_menu': user_menu.get_items} %}
		    	</div>{# /.sl_cell #}

		    	{# FOOTER ADDRESS #}
		    	<div class="sl_cell large-auto">
		    		{% include "footer/address.twig" %}
		    	</div>{# /.sl_cell #}

    		</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__menu#}

    {# Info #}
    <div class="sl_footer__info">
		<div class="sl_inner">
			{# SOCIAL ICONS#}
			{% include "partials/footer/social-media.twig"  %}

			{# FOOTER WYSIWYG #}
			{% if option.footer_wysiwyg %}
				{{option.footer_wysiwyg}}
			{% endif %}

			{# FOOTER LINKS #}
			{% if footer_menu.theme_location == 'footer-menu' %}
				{% include "footer/footer-menu.twig" with {'menu': footer_menu.get_items } %}
			{% endif %}
			
			{# COPYRIGHT #}
  			<p>&copy; {{ now|date('Y') }} {{ bloginfo('name') }}. All Rights Reserved.</p>

		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__email #}
</div>{# /.sl_footer #}