{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_inner">

			<div class="sl_row">

				<div class="sl_cell large-4 show-for-large sl_content__sidebar">
					<div data-sticky-container class="sl_sidebar sl_sidebar--FAQ">
						<div data-sticky class="sl_sidebar__container sl_sticky"  data-anchor="main">
							<h3 class="sl_sidebar__title">Frequently Asked Questions</h3>
							<ul class="sl_sidebar__menu accordion sl_accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
								{% for item in faq_categories %}
					            	<li class="accordion-item sl_accordion__item is-active" data-accordion-item>
					            		<a href="#" class="accordion-title sl_accordion__title">{{item.name}}</a>
					            		<div class="accordion-content sl_accordion__content" data-tab-content>
									    	<ul data-smooth-scroll>
											{% for faq in item.posts({
												order: 'ASC',
											    orderby: 'menu_order'
											}) %}
												<li>
													<a href="#{{faq.id}}">
														{{ faq.title}}
													</a>
												</li>
											{% endfor %}
					                		</ul>
									    </div>
						        	</li>
								{% endfor %}
							</ul>
						</div><!-- end #sidebarcontent -->
					</div><!-- end sticky container -->
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}

				<div class="sl_cell large-8 sl_content__main">
					<main id="main" class="sl_main">
						<h1>Frequently Asked Questions</h1>
						{% for item in faq_categories %}
							<h2>{{ item.name }}</h2>
							{% for faq in item.posts({
								order: 'ASC',
							    orderby: 'menu_order'
							}) %}
					            <h3 id="{{faq.id}}">{{ faq.title }}</h3>
					            {{ faq.content|wpautop }}
							{% endfor %}
						{% endfor %}
					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}

			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>
</article>
{% endblock %}