{% extends "module.twig" %}

{% block card %}
	
	{# Includes card components #}
 	<div class="sl_row">
		
		{# TESTIMONIAL CONTENT #}
		<div class="sl_testimonial__content sl_cell large-6 medium-12">
			<div class="sl_testimonial__card sl_card sl_card--testimonial">

				{# PRE HEADER #}	
				{% if module.card.pre_header %}
					<h5>{{ module.card.pre_header }}</h5>
				{% endif %}

				{# HEADER  #}
				{% if module.card.header %} 
					<h2>{{ module.card.header }}</h2>
				{% endif %}
				
				{# PARAGRAPH #}
				{% if module.card.paragraph %}
					{% include "card-paragraph.twig" with { paragraph : module.card.paragraph } %}
				{% endif %}
				
				{# BUTTONS #}
	    		{% if module.card.buttons %}
					{% include "card-button.twig" with { card : module.card } %}
				{% endif %}

			</div>{# /.sl_testimonial__card.sl_card.sl_card--testimonial #}
		</div>{# /.sl_testimonial__content.sl_cell #}

		{# TESTIMONIAL CAROUSEL #}
		<div class="sl_cell sl_testimonial__carousel large-6 medium-12">
	 		<div  class="sl_testimonial__slider">
			    {% for item in this.testimonial %}
			        <div class="sl_testimonial__slide sl_card sl_card--slide">
			                
			                {# QUOTE #}	
			                <div class="sl_testimonial__quote">	                
			                	{{item.quote|wpautop}}
			            	</div>
			                
			                {# CITE #}
			                <p class="sl_testimonial__cite">{% if item.name %}{{item.name}}{% endif %}{% if item.relation %}, <span>{{item.relation}}</span>{% endif %}</p>

			        </div>{# /.sl_card #}
			    {% endfor %}
			</div>{# /.sl_testimonial__slider #}
			<div class="sl_testimonial__controls"></div>
		</div>{# /.sl_cell.sl_testimonial__carousel #}

 	</div>{# /.sl_row #}

{% endblock %}