{% extends "module.twig" %}

{% block card %}

<div class="sl_row {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">
  {% for card in this.deck %}

    {# Runs conditional logic to cards from the wildcard. #}
    <div class="sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "content" } %}{% endif %}">
      <div class="sl_card sl_card--wildcard">
        
        {# Runs conditional logic to add pieces for each card. #}
        {% for item in card.cards %}

          {# PRE HEADER #}  
          {% if item.acf_fc_layout == "preheader" %}
            <h5>{{ item.preheader }}</h5>
          {% endif %}

          {# HEADER  #}
          {% if item.acf_fc_layout == "header" %} 
            <h2>{{ item.header }}</h2>
          {% endif %}
          
          {# PARAGRAPH #}
          {% if item.acf_fc_layout == "wysiwyg" %}
            {% include "card-wysiwyg.twig" with { wysiwyg : item.paragraph } %}
          {% endif %}

          {# IMAGE #}
          {% if item.acf_fc_layout == "image" %}
            {% include "card-image.twig" with { image : item.image } %}
          {% endif %}

          {# IMAGE #}
          {% if item.acf_fc_layout == "code_area" %}
            {{item.code}}
          {% endif %}

          {# CARD LIST #}
          {% if item.acf_fc_layout == "card list" %}
            {% include "card-list.twig" with { card_list : item.card_list } %}
          {% endif %}
          
          {# BUTTONS #}
          {% if item.acf_fc_layout == "button" %}
            {% include "card-button.twig" with { card : item } %}
          {% endif %}

          {# LATEST RELEASE #}
          {% if item.acf_fc_layout == "latest release" %}
            {% include "latest-release.twig" %}
          {% endif %}

          {# RELATED POSTS #}
          {% if item.acf_fc_layout == "related posts" %}
            {% include "wildcard-related-posts.twig" %}
          {% endif %}
          
          {# SEARCH #}
          {% if item.acf_fc_layout == "search" %}
            {% include "partials/sl_search.twig" %}
          {% endif %}

          {# ACCORDION #}
          {% if item.acf_fc_layout == "accordion" %}
            {% include "card-accordion.twig" with { accordion_items : item.accordion_items } %}
          {% endif %}

          {# ACCREDITIONS #}
          {% if item.acf_fc_layout == "accreditations" %}
          <div class="sl_wildcard__accreditations sl_row"> 
            {% for item in item.accreditation_schema.accreditations %}
              {% include "card-creds.twig"  %}
            {% endfor %}
          </div>
          {% endif %}

        {% endfor %}
      </div>{# /.sl_card.sl_card--wildcard #}
    </div>{# /.sl_cell #}

  {% endfor %}

</div>{# /.sl_row #}
    
{% endblock %}