{% extends "module.twig" %}

{% block card %}
	
	{# HEADER #}
	{% if module.header %}
		<h2>{{module.header}}</h2>
	{% endif %}

    {% for staff in Post(module.staff) %}
    <div class="sl_row">

        {# IMAGE #}
        {% if staff.thumbnail %}
        <div class="sl_cell sl_staff__image medium-4">
            <img src="{{ staff.thumbnail.src() }}" alt="{{ staff.thumbnail.alt() }}">
        </div>
        {% endif %}

        {# CONTENT #}
        <div class="sl_cell sl_staff__content {% if staff.thumbnail %}medium-8{% else %}medium-12{% endif %}">
            <h3>{{staff.first_name}} {{staff.last_name}}{% if staff.certifications %}, <span>{{staff.certifications}}</span>{% endif %}</h3>
            {% if staff.staff_title %}<h4>{{staff.staff_title}}</h4>{% endif %}
            {% if staff.staff_location %}<p><strong>Licensed in {{staff.staff_location}}</strong></p>{% endif %}
            {{staff.content|wpautop}}
        </div>
    </div>
    {% endfor %}

{% endblock %}
