{% extends "module.twig" %}

{% block card %}
{% if option.address %}

	{# LOOP THROUGH ADDRESSES #}
	{% for address in option.address %}

	{# ONLY FIRST LOCATION #}
	{% if loop.first %}
 	<div class="sl_row">

		{# DUO MEDIA #}
 		<div class="sl_location__map sl_cell large-6">
 			{# GOOGLE MAP #}
                {% include 'card-google-map.twig' with { map : address.address } %}
 		</div>{# /.sl_location__map #}
		
		{# DUO CONTENT #}
		<div class="sl_location__content sl_cell large-6">
			<div class="sl_location__card sl_card sl_card--location">

				<h2 class="show-for-medium">Location</h2>

				<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="name"><strong>{{address.address.location_name}}</strong></span><br>
				    <span itemprop="streetAddress">{{address.address.street_address}}</span><br>
				    <span itemprop="addressLocality">{{address.address.city}}, {{address.address.state}}</span> 
				    <span itemprop="postalCode">{{address.address.zip_code}}</span><br>
				</p>

				<p><a href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a></p>

				<a class="sl_button sl_button--simple" href="https://www.google.com/maps/dir/?api=1&destination={{address.address.google_map.lat}},{{address.address.google_map.lng}}" target="_blank" rel="noreferrer">Directions</a>
			</div>{# /.sl_location__card #}
		</div>{# /.sl_location__content #}
 	</div>{# /.sl_row #}
 	{% endif %}
 	
 	{% endfor %}

{% endif %} 
{% endblock %}