{% extends "module.twig" %}

{% block card %}
	<div class="sl_row">
		<div class="sl_billboard__content sl_cell large-auto">
			<div class="sl_card">
				{# Header #}
				<h1>{{ module.billboard.header }}</h1>

				{# Button #}
				{% if module.billboard.buttons %}
			    	{% include "card-button.twig" with { card : module.billboard } %}
				{% endif %}	
			</div>{# /.sl_card #}
		</div>{# /.sl_cell #}

		{# DUO MEDIA #}
 		<div class="sl_billboard__media sl_cell">
 				<div class="sl_billboard__image" style="background-image: url({{Image(module.billboard.billboard_image.large).src}})"></div>
 		</div>{# /.sl_billboard__media.sl_cell #}
	</div>{# /.sl_row #}

{% endblock %}
