{% extends "base.twig" %}

{% block content %}

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_inner">

					<main id="main" class="sl_main">
						{{post.content}}
					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}

		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}