.sl_billboard {
	margin-top: -173px;
	padding-top: rem-calc(173px) + $spacing--md !important;
	background-color: get-color(secondary);
	min-height: 750px;
	display: flex;
	align-items: center;

	@include breakpoint (large only) {
		padding-top: rem-calc(171px) + $spacing--md !important;
	}//end large only breakpoint


	@include breakpoint (small down) {
		margin-top: -82px;
		padding-top: rem-calc(82px) + $spacing--lg !important;
		min-height: 0;
	}//end small down breakpoint

	&:before {
		@include pseudo;
		width: 70%;
		height: 70%;
		right: 0;
		top: 0;
		border-radius: 0 0 0 200px;
		background-color: get-color(accent2);

		@include breakpoint (large only) {
			width: 75%;
		}//end large only breakpoint

		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint
	}//end &:before

	.sl_row {
		@include breakpoint (medium only) {
			justify-content: center;
		}//end medium only breakpoint
		
		@include breakpoint (small down) {
			justify-content: flex-end;
		}//end small down breakpoint
	}//end .sl_row

	&__content {
		max-width: 678px;
		padding-top: $spacing--xxl;

		@include breakpoint (large only) {
			padding-top: 0;
		}//end large only breakpoint
		.sl_button-group {
			justify-content: flex-start;
		}//end .sl_button-group

		@include breakpoint (small down) {
			padding-top: 0;
			max-width: none;
		}//end small down breakpoint
	}//end &__content

	&__media {
		width: 570px;
		height: 570px;
		position: relative;

		@include breakpoint (large only) {
			width: 400px;
			height: 400px;
		}//end large only breakpoint

		@include breakpoint (small down) {
			width: 274px;
			height: 274px;
			margin-top: -$spacing--sm;
			z-index: -1;
		}//end small down breakpoint

		&:before {
			@include pseudo;
			width: 180px;
			height: 180px;
			right: 0;
			top: 0;
			border-radius: 50%;
			background-color: get-color(secondary);

			@include breakpoint (small down) {
				width: 87px;
				height: 87px;
				background-color: get-color(accent2);
			}//end small down breakpoint
		}//end &:before
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 50%
	}//end &__image

	.sl_card {
		padding: 0;
		position: relative;
	}//end .sl_card

	@include breakpoint (small down) {
		h1 {
			font-size: 1.25rem;
		}//end h1
	}//end small down breakpoint
	
}//end .sl_module--billboard