.sl_deck {
	.sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md - $spacing--xs, $p-large: $spacing--lg - $spacing--sm/2, $p-xlarge: $spacing--xl - $spacing--md/2,$p-xxlarge: $spacing--xxl - $spacing--md/2);
		& > h2 {
			text-align: center;
		}//end .sl_inner

		.sl_cell {
			padding: 0 $spacing--md/2;
			margin-bottom: $spacing--sm;

			@include breakpoint (large only) {
				padding: 0 $spacing--sm/2;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: 0 $spacing--xs/2;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint
		}//end .sl_cell

		h3 {
			@include breakpoint (large only) {
				font-size: 1.25rem;
			}//end large only breakpoint
			
			@include breakpoint (medium only) {
				font-size: 1.25rem;
			}//end medium only breakpoint
		}//end h3

		//If Link Wrapper on card
		.sl_card__wrapper {
			word-break: break-word;
			.sl_card--deck {
				@include transition (all .3s ease-in-out);

				&:hover {
					background-color: get-color(default);
					@include transition (all .3s ease-in-out);

					& * {
						color: get-color(inverse);
					}//end & *
				}//end &:hover
			}//end .sl_card--deck

			&--image {
				.sl_card--deck {

					.sl_card__content {
						position: relative;
						&:before {
							@include fontawesome ($content: '\f061');
							position: absolute;
							display: flex;
							align-items: center;
							justify-content: center;
							top: -18px;
							left: calc(50% - 18px);
							width: 36px;
							height: 36px;
							background-color: get-color(accent2);
							color: get-color(default);
							border: 1px solid get-color(default);
							border-radius: $border-radius--circle;
						}//end &:before
					}//end .sl_card__content

					&:hover {

						.sl_card__content {
							&:before {
								background-color: get-color(default);
								color: get-color(accent2);
								border: 1px solid get-color(accent2);
							}//end &:before
						}//end .sl_card__content
					}//end &:hover
				}//end .sl_card--deck
			}//end &--image
		}//end .sl_card__wrapper

		@include breakpoint (large down) {
			a {
				&:not([class]) {
					word-break: break-word;
				}//end &:not([class])
			}//end a
		}//end large down breakpoint
	}//end .sl_inner
}//end .sl_deck