.sl_duo {
	.sl_inner {
		padding: 0;
		& > .sl_row {
			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__media {
		display: flex;
		align-items: center;

		@include breakpoint (medium only) {
			padding-right: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			position: relative;
			min-height: 200px;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 300px;
			max-height: 380px;

			@include breakpoint (large only) {
				max-height: 320px;
			}//end large only breakpoint

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__container

		&--video {

			@include breakpoint (medium only) {
				max-width: 700px;
				margin: 0 auto;
				padding-left: 0 !important;
			}//end medium only breakpoint

			.sl_duo__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;
				border-radius: 0 !important;
			}//end .sl_duo__image
		}//end &--video
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: $border-radius--duo;

		@include breakpoint (xlarge down) {
			border-radius: 0 $border-radius--duo $border-radius--duo 0;
		}//end xlarge down breakpoint

		@include breakpoint (small down) {
			border-radius: 0;
		}//end small down breakpoint
	}//end &__image

	&__content {
		display: flex;
		align-items: center;

		@include breakpoint (small down) {
			flex: 0 0 auto;
			width: 100%;
		}//end small down breakpoint

		.sl_button-group {
			width: 100%;

			.sl_button {
				width: 100%;
				-ms-flex-negative: 1;
			}//end .sl_button
		}//end .sl_button-group
	}//end &__content

	//DUO TYPES

	&--video {
		.sl_inner {
			@include innerpadding;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint
		}//end .sl_inner
	}//end &--video

	&--right {
		@include breakpoint (small down) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
		.sl_duo__media {
			order: 2;

			@include breakpoint (medium only) {
				padding-right: 0;
				padding-left: $spacing--lg;
			}//end medium only breakpoint
		}//end .sl_duo__media

		.sl_duo__image {
			border-radius: $border-radius--duo;

			@include breakpoint (xlarge down) {
				border-radius: $border-radius--duo 0 0 $border-radius--duo;
			}//end xlarge down breakpoint

			@include breakpoint (small down) {
				border-radius: 0;
			}//end small down breakpoint
		}//end .sl_duo__image

		.sl_duo__content {
			order: 1;
		}//end .sl_duo__content
	}//end &--right

	&--notop {
		padding-top: 0 !important;

		.sl_duo__media__container {
			max-height: none;
		}//end .sl_duo__container;

		.sl_duo__image {
			border-radius: 0 0 $border-radius--duo $border-radius--duo;

			@include breakpoint (xlarge down) {
				border-radius: 0 0 $border-radius--duo 0;
			}//end xlarge down breakpoint

			@include breakpoint (small down) {
				border-radius: 0;
			}//end small down breakpoint
		}//end .sl_duo__image

		&.sl_duo--right {
			.sl_duo__image {
				border-radius: 0 0 $border-radius--duo $border-radius--duo;

				@include breakpoint (xlarge down) {
					border-radius: 0 0 0 $border-radius--duo;
				}//end xlarge down breakpoint
			}//end .sl_duo__image
		}//end &.sl_duo--right
	}//end &--notop
}//.sl_duo