.sl_module {
	padding-top: $spacing--xxl;
	position: relative;

	@include breakpoint (large only) {
		padding-top: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-top: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-top: $spacing--md;
	}//end small down breakpoint

	&:last-of-type {
		padding-bottom: $spacing--xxl;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: $spacing--md;
		}//end small down breakpoint
	}//end &:last-of-type


	//UTILITY CLASSES
	&--notop, &:first-of-type {
		padding-top: 0;

		@include breakpoint (large only) {
			padding-top: 0;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: 0;
		}//end small down breakpoint
	}
	&--withbottom {
		padding-bottom: $spacing--xxl;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: $spacing--md;
		}//end small down breakpoint
	}//end &--withbottom

 	&--notop-small {
 		@include breakpoint (small down) {
 			padding-top: 0 !important;
 		}//end small down breakpoint
 	}//end &--notop-small

 	&--nobottom-medium {
 		@include breakpoint (medium only) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
 	}//end &--nobottom-medium

	&--nobottom-small {
		@include breakpoint (small down) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
	}//end &--nobottom-small

	&--overlaptop {
		margin-top: -$spacing--xxl;
		padding-top: 0;
	}//end &--overlaptop

	&--underlaptop {
		margin-top: -$spacing--xxl;
		padding-top: $spacing--xxl + $spacing--xxl;

		@include breakpoint (large only) {
			padding-top: $spacing--xxl + $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: $spacing--xxl + $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: $spacing--xxl + $spacing--md;

			&.sl_module--notop-small {
				padding-top: 0;
				margin-top: 0;
			}//end .sl_module--notop-small
		}//end small down breakpoint
	}//end &--underlaptop

	&--secondary {
		background-color: get-color(secondary);

		h2 {
			color: get-color(primary);
		}//end h2
	}//end &--secondary

	&--secondarytop {
		&:before {
			@include pseudo;
			background-color: get-color(secondary);
			height: 50%;
			left: 0;
			right: 0;
			top: 0;
			border-radius: 0 0 $border-radius--module $border-radius--module;

			@include breakpoint (small down) {
				border-radius: 0 0 $border-radius--module-small $border-radius--module-small;
			}//end small down breakpoint
		}//end &:before
	}//end &--secondarytop

	&--bottomcurve {
		border-radius: 0 0 $border-radius--module $border-radius--module;

		@include breakpoint (small down) {
			border-radius: 0 0 $border-radius--module-small $border-radius--module-small;
		}//end small down breakpoint
	}//end &--bottomcurve
}//end .sl_module