.sl_post_content {
	&--contained {
		@include inner;

		.sl_inner {
			@include container;
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end .sl_inner
	}//end &--contained
}//end .sl_post_content