.sl_spotlight {
	background-color: get-color(default);
	.sl_inner {
		& * {
			color: get-color(inverse);
		}//end & *

		h3 {
			color: get-color(secondary);
			font-size: 1.25rem;
			text-transform: uppercase;

			@include breakpoint (small down) {
				font-size: 1rem;
			}//end small down breakpoint
		}//end h3
	}//end .sl_inner

	.sl_button--border {
		@include fancy-button;
	}//end .sl_button--border

	&--light {
		background-color: get-color(accent2);

		.sl_inner {
			& * {
				color: get-color(default);
			}//end & *

			h3 {
				color: get-color(accent1);
			}//end h3
		}//end .sl_inner

		.sl_button {
			color: get-color(inverse);
		}//end .sl_button

		.sl_button--border {
			color: get-color(default);
			border-color: get-color(default);
			&:after, &:before {
				display: none;
			}//end &:after, &:before
		}//end .sl_button--border
	}//end &--light
}//end .sl_spotlight