.sl_staff {
	background-color: get-color(secondary);
	padding: $spacing--lg 0 !important;

	h2 {
		text-align: center;
		margin-bottom: $spacing--lg;
	}//end h2

	.sl_inner {
		max-width: 1200px;
	}//end .sl_inenr

	.sl_row {
		padding-bottom: $spacing--lg;
		
		&:not(:first-of-type) {
			padding-top: $spacing--lg;
			border-top: 1px solid get-color(accent3);
		}//end &:not(:first-of-type);
	}//end .sl_row
	&__image {
		padding-right: $spacing--lg;

		@include breakpoint (small down) {
			padding: 0;
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end &__image
	&__content {
		h3 {
			margin-bottom: $spacing--xs;
		}//ned h2

		p {
			font-size: 1rem;
		}//end p

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-chi;d
	}//end &__content
}//end .sl_staff