.sl_testimonial {
	.sl_inner {
		max-width: none;
		padding: 0;
	}//end .sl_inner

	&__content {
		display: flex;
		align-items: center;
		.sl_card {
			max-width: $global-width/2;
			margin-left: auto;
			padding: 0 $spacing--xl;

			@include breakpoint (large only) {
				padding: 0 $spacing--lg;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				max-width: none;
				padding: 0 $spacing--md;
				margin-bottom: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: 0 $spacing--sm $spacing--sm;
			}//end small down breakpoint
		}//end .sl_card
	}//end &__content

	&__carousel {
		border-radius: $border-radius--duo 0 0 $border-radius--duo;
		background-color: get-color(default);
		padding: $spacing--xxl;

		@include breakpoint (large only) {
			padding: $spacing--lg;
			padding-left: $spacing--xxl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			max-width: rem-calc(768px) - $spacing--md;
			margin-left: auto;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			border-radius: 0;
			padding: $spacing--sm $spacing--md;
		}//end small down breakpoint
	}//end &__carousel

	&__slider {
		max-width: $global-width/2 - $spacing--xxl*2;
		margin-right: auto;
	}//end &__slider

	&__quote {
		p {
			color: get-color(inverse);
			font-size: 1.5rem;
			font-weight: $font-weight--bold;
			line-height: 1.5;
			margin-bottom: $spacing--xs;

			@include breakpoint (small down) {
				font-size: 1rem;
				margin-bottom: $spacing--xs/2;
			}//end small down breakpoint
		}//end p
	}//end &__quote

	&__cite {
		color: get-color(secondary);
		font-weight: $font-weight--semibold;
	}//end &__cite

	&__controls {
		margin-top: $spacing--lg;
		display: flex;
		align-items: center;

		@include breakpoint (small down) {
			justify-content: center;
			margin-top: $spacing--xs;
		}//end small down breakpoint

		.slick-dots {
			order: 2;
		}//end .slick-dots
	}//end &__controls

	&__slide {
		background: none;
		padding: 0;
		border-radius: 0;
	}//end &__slide


	&__arrows {
		color: get-color(secondary);
		font-size: 1.5rem;
	}//end &__arrows

	&__prev {
		order: 1;
		margin-right: $spacing--sm;
	}//end &__[rev]

	&__next {
		order: 3;
		margin-left: $spacing--sm;
	}//end &__next
}//end .sl_testimonial