.sl_wildcard {
	&--careteam {
		@include breakpoint (small down) {
			padding-top: 0;
		}//end small down breakpoint
		.sl_inner {
			max-width: none;
			padding: 0;
			& > .sl_row {
				& > .sl_cell {

					//CONTENT
					&:first-of-type {
						background-color: get-color(secondary);
						border-radius: 0 $border-radius--duo 0 0;
						display: flex;
						align-items: center;

						@include breakpoint (medium only) {
							border-radius: 0 0 $border-radius--duo $border-radius--duo;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							border-radius: 0  0 $border-radius--duo 0;
						}//end small down breakpoint
						.sl_card {
							max-width: $global-width/2;
							margin-left: auto;
							padding: $spacing--xl * 2;
							padding-left: $spacing--xl;

							@include breakpoint (large only) {
								padding: $spacing--lg;
							}//end large only breakpoint

							@include breakpoint (medium only) {
								padding: $spacing--xl $spacing--md $spacing--xxl;
							}//end medium only breakpoint

							@include breakpoint (small down) {
								padding: $spacing--lg $spacing--sm $spacing--xl;
							}//end small down breakpoint

							h2 {
								color: get-color(primary);
							}//end h2
						}//end .sl_card
					}//end &:first-of-type

					//GRAPHIC
					&:last-of-type {
						.sl_card {
							max-width: $global-width/2;
							height: 100%;
							margin-left: -$spacing--xl;
							padding: 0;
							padding-bottom: $spacing--lg;
							padding-right: $spacing--xl;

							@include breakpoint (large only) {
								margin-left: -$spacing--lg/2;
								padding-right: $spacing--lg;
							}//end large only breakpoint

							@include breakpoint (medium down) {
								margin-left: 0;
								margin-top: -$spacing--lg;
								padding: 0 $spacing--md $spacing--lg;
							}//end medium down breakpoint

							@include breakpoint (small down) {
								padding: 0 $spacing--sm $spacing--lg;
							}//end small down breakpoint

							svg.hide-for-large {
								min-height: 700px;
							}
						}//end .sl_card
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--careteam
}//end .sl_wildcard