.sl_wysiwyg {
	.sl_inner {
		.sl_card {

		}//end .sl_card
	}//end .sl_inner

	&--container {

		.sl_card--wysiwyg {
			background-color: get-color(accent2);
			padding: $spacing--lg $spacing--xl;
			border-radius: $border-radius--large;

			@include breakpoint (large only) {
				padding: $spacing--lg;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--lg $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			h2 {
				color: get-color(primary);
			}//end h2
		}//end .sl_card--wysiwyg
	}//end &--container
}//end .sl_wysiwyg