.sl_tabs {
	display: flex;
	flex-direction: row;

	&__container {
	}//end &__container

	&__title {
		float: none;
		display: flex;
		flex: 1 1 auto;
		text-align: center;
		min-width: 125px;
		margin-bottom: 0 !important;

		@include breakpoint (small down) {
			display: inline-block;
			height: 100%;
			min-width: 0;
			vertical-align: middle
		}//end small down breakpoint

		& > a {
			width: 100%;
			height: 100%;

			@include breakpoint (small down) {
				white-space: normal;
				display: flex;
				align-items: center;
				justify-content: center;
			}//end small down breakpoint
		}//end & > a

		&:not(.is-active):hover {
			& > a {
			}//end & > a
		}//end &:not(.is-active:hover)

		&.is-active {
			& > a {
			}//end & > a
		}//end &.is-active
	}//end &__title

	.sl_tabs__title.is-active:only-child {
		& > a {
		}//end & > a
	}//end &.is-active

	&__content {
	}//end &__content

	&__panel {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__panel
}//end .sl_tabs
