//Border Radius
$border-radius: 5px;
$border-radius--large: 20px;
$border-radius--duo: 150px;
$border-radius--module: 200px;
$border-radius--module-small: 50px;
$border-radius--pill: 400px;
$border-radius--circle: 50%;