//Gradients
$gradient--primary: linear-gradient(90deg, #3434A2 0%, #1D67CF 98%);
$gradient--secondary: linear-gradient(180deg, #02BFFF 0%, #018BFF 100%);
$gradient--border: linear-gradient(160deg, #3AAFBE 0%, #B1DFE7 100%);