/*--------------------
1. Headings
2. Paragraphs
3. Lists
4. Blockquotes
5. Links
---------------------*/

body {
	color: get-color(default);
	//-----------------
	//1. HEADINGS
	//-----------------
	h1,h2,h3,h4,h5,h6 {

	}//all headings

	h1 {
		color: get-color(primary);
	}///end h1 
	h2 {
		color: get-color(accent3);

		@at-root body.page-template-default {
			h2 {
				color: get-color(primary);
			}//end h2
		}//end @at-root body.page-template-default
	}///end h2
	h3 {
		color: get-color(primary);
	}///end h3 
	h4 {
		color: get-color(primary);
		font-weight: $font-weight--semibold;
	}///end h4 
	h5 {

	}///end h5 
	h6 {

	}///end h6

	//-----------------
	//END HEADINGS
	//-----------------

	//-----------------
	//2. PARAGRAPHS
	//-----------------

	p {
		font-size: $font-size--regular;
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
			font-size: 1rem;
		}//end small down breakpoint
	}//end p

	//-----------------
	//END PARAGRAPHS
	//-----------------

	//-----------------
	//3. LISTS
	//-----------------

	ul, ol, li {
		font-size: $font-size--regular;
	}

	ul {
		margin-bottom: $spacing--sm;
	}

	.sl_content {
		ul {
			li {
				&:not(:last-of-type) {
					margin-bottom: $spacing--xs;
				}//end &:not(last-of-type)
			}//end li

			&.sl_list {
				list-style: none;
				margin: 0 0 $spacing--sm $spacing--xs + rem-calc(8px);

				li {
					&:not(:last-of-type){
						margin-bottom: $spacing--xs;
					}//end &:not(:last-of-type)

					&:before {
						content: '';
						display: inline-block;
						margin-right: $spacing--xs;
						margin-left: -$spacing--xs - rem-calc(8px);
						background-color: get-color(secondary);
						background-repeat: no-repeat;
						width: 8px;
						height: 8px;
						border-radius: $border-radius--circle;
					}//end &:before
				}//end li

				&--primary {
					@extend .sl_list;

					li {
						&:before {
							background-color: get-color(primary);
						}//end &:before
					}//end li
				}//end &--primary

				&--pill {
					list-style: none;
					margin: 0;
					text-align: center;

					& > li {
						display: inline-block;
						font-family: $header-font-family;
						font-weight: $font-weight--semibold;
						padding: $spacing--xs/2 $spacing--md;
						border: 2px solid get-color(default);
						margin-right: $spacing--sm;
						border-radius: $border-radius--pill;
						margin-bottom: $spacing--sm;
						line-height: 1.5;

						@include breakpoint (large only) {
							margin: 0 $spacing--xs $spacing--xs 0;
						}//end large only breakpoint

						@include breakpoint (medium down) {
							padding: rem-calc(4px) rem-calc(12px);
							font-size: 1rem;
							margin: 0 0 $spacing--xs 0;
						}//end medium down breakpoint

						&:last-of-type {
							margin-right: 0;
						}//end &:last-of-type
					}//end & > li
				}//end &--pill

			}//end &.sl_list
		}//end ul
	}//end .sl_content

	ol {
		margin-bottom: $spacing--sm;
		li {
			&:not(:last-of-type) {
				margin-bottom: $spacing--xs;
			}//end &:not(:last-of-type)
		}//end li
	}//end ol

	//-----------------
	//END LISTS
	//-----------------

	//-----------------
	// 4. BLOCKQUOTES
	//-----------------
		blockquote {

			p {

			}//end p

			cite {

			}//end cite
		}//end blockquote
	//-----------------
	//END BLOCKQUOTES
	//-----------------

	//-----------------
	// 5. LINKS
	//-----------------
		a {
			&:not([class]) {
				color: get-color(accent1);
				font-weight: $font-weight--semibold;

				&:hover {
					color: get-color(primary);
				}//end &:hover
			}//end &:not([class])

			&[href^=tel] {
				white-space: nowrap;
			}//end &[href^=tel]
		}//end a
	//-----------------
	//END LINKS
	//-----------------
}//end body