{# Joint Commission #}
{% if option.jointcommission.jc_check %}
	<div class="sl_cell sl_logo--jointcommission">
		<img src="{{site.url}}/wp-content/themes/slate/dist/img/accreditations/jointcommission-logo.png">
		<p>{{ bloginfo('name') }} is accredited by The Joint Commission</p>
	</div>{# /.sl_cell#}
{% endif %}

 {# BBB Script #}
{% if option.bbbscript.bbbscript_check %}
	<div class="sl_cell bbb">
		{{option.bbbscript.bbbscript_script}}
	</div>{# /.sl_cell#}
{% endif %}

{# Legitscript #}
{% if option.legitscript.legitcript_check %}
	<div class="sl_cell ">
		<div class="sl_logo sl_logo--legitscript">
			{% if option.legitscript.legitscript_check %}{{option.legitscript.legitscript_script}}{% endif %}
		</div>
	</div>{# /.sl_cell #}
{% endif %}

