{% if option.socials %}
    <div class="sl_footer__socials">
		<div class="sl_row sl_socials">

			{% for item in option.socials %}
			<div class="sl_cell">
	            <a href="{{option[item~'_url']}}" class="sl_{{item}} sl_button sl_button--social" target="_blank">
	                <i class="fab fa-{{item}}" aria-hidden="true"></i>
	            </a>
	        </div>{# /.sl_cell #}
	        {% endfor %}

		</div>{# /.sl_row #}
        
    </div>{# /.sl_footer__socials #}
{% endif %}