//1. Articles Archive Page
//2. Category Archive Page
//3. FAQ Archive Page
//-------------------------

//1. ARTICLES ARCHIVE PAGE 
body.blog {
	background-color: get-color(secondary);
	.sl_content {

	}//end .sl_content
}//end body.blog
//END ARTICLES ARCHIVE PAGE

//2. CATEGORY ARCHIVE PAGE
body.archive {
	background-color: get-color(secondary);
	.sl_content {
		&__body {
			.sl_inner {

			}//end .sl_inner
		}//end &__body

		//MAIN CONTENT
		&__main {

			.sl_main {
				& > h2 {

				}//end & > h2
				& > .sl_row {
					& > .sl_cell {

					}//end & > .sl_cell
				}//end & > .sl_row
			}//end .sl_main

			.sl_pagination {
			}//end .sl_pagination
		}//end &__main

		&__loop {

		}//end &__loop
	}//end .sl_content
}//end body.category
//END CATEGORY ARCHIVE PAGE

//3. FAQ ARCHIVE PAGE 
body.post-type-archive-sl_faqs_cpts {
	.sl_content {
		padding: $spacing--lg 0;
	}//end .sl_content

	.sl_main {
		h2 {
			color: get-color(primary);
			margin-top: $spacing--lg;
			margin-bottom: $spacing--md;
		}//end h2

		h3 {
			color: get-color(default);
			font-weight: $font-weight--semibold;
			margin-top: $spacing--md;
		}//end h3
	}//end .sl_main
}//end body.post-type-archive-sl_faqs_cpts
//END FAQ ARCHIVE PAGE