.sl_breadcrumbs {
	@include inner;
	margin-top: 0;
	padding-top: $spacing--md;
	padding-bottom: $spacing--sm;

	&__container {
		background-color: get-color(secondary);
	}//end &__container

	li {
		margin-bottom: 0;
		line-height: 1;
		color: get-color(accent3);
		font-weight: $font-weight--semibold;
		font-family: $header-font-family;

		&:not(:last-child) {
			&:after {
				@include fontawesome ($content:'\f054');
				color: get-color(accent3);
			}//end &:after
		}//end &:not(:last-child)

		@include breakpoint (small down) {
			line-height: 1.5;
		}//end small down breakpoint

		a {
			color: get-color(accent3);
		}//end a
	}//end li

	&__current {
		font-weight: $font-weight--semibold;

		h1 {
			display:inline-block;
			font-size: inherit;
			line-height: 1;
			margin-bottom: 0;
			font-weight: $font-weight--semibold;
			color: get-color(accent3);
			vertical-align: middle;
		}//end h1
	}//end &__current
}//end .sl_breadcrumbs

body.home .sl_breadcrumbs {
	display: none;
}//end body.home .sl_breadcrumbs