.sl_footer {
	background-color: get-color(default);
	padding: $spacing--xxl 0;

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint
	
	//Branding
	&__branding {
		.sl_inner {
			& > .sl_row {
				width: 70%;

				@include breakpoint (large down) {
					width: 80%;
				}//end large down breakpoint

				@include breakpoint (small down) {
					width: 100%;
				}//end small down breakpoint

				& > .sl_cell {
					display: flex;
					align-items: center;
					padding: 0 $spacing--xs;

					@include breakpoint (small down) {
						padding: 0;
					}//end small down breakpoint

					&.sl_logo--jointcommission {
						flex-direction: row;

						@include breakpoint (small down) {
							width: auto;
							flex: 1 1 auto;
							justify-content: flex-end;
						}//end small down breakpoint

						img {
							max-width: 64px;
							height: auto;
							margin-right: $spacing--sm;

							@include breakpoint (small down) {
								max-width: 48px;
								margin-right: 0;
								margin-left: $spacing--sm;
							}//end small down breakpoint
						}//end img
						p {
							color: get-color(inverse);
							font-size: 1rem;
							margin-bottom: 0;
							width: 100%;

							@include breakpoint (small down) {
								display: none;
							}//end small down breakpoint
						}//end p
					}//end .sl_logo--jointcommission
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
	}//end branding

	&__logo {
		@include breakpoint (small down) {
			width: 188px;
		}//end small down breakpoint
		img {
			max-width: 280px;
			width: 100%;
		}//end img
	}//end &__logo

	//Menu
	&__menu {
		padding: $spacing--xxl 0;
		
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					padding: 0 $spacing--md;

					&:first-of-type {
						padding-left: 0;
					}//end &:first-of-type

					&:last-of-type {
						padding-right: 0;
					}//end &:last-of-type

					&:not(:last-of-type) {
						border-right: 1px solid get-color(inverse);
					}//end &:not(:last-of-type)
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
		

		.sl_menu {
			justify-content: center;
			align-items: center;
			margin-bottom: 0;
			font-family: $header-font-family;

			& * {
				color: get-color(inverse);
			}//end & *

			& > li {
				font-weight: $font-weight--bold;
				font-size: 1rem;
				position: relative;
				flex: 1 1 50%;
			}//end & > li

			a {
				padding: 0;
				line-height: 1.5;
				font-size: 1.25rem;
				margin-bottom: $spacing--xs/2;
				font-weight: $font-weight--semibold;

				@include breakpoint (large only) {
					font-size: 1.125rem;
				}//end large only breakpoint
			}//end a
		}//end .sl_menu

		.sl_usermenu {
			& > li {
				flex: 1 1 100%;
			}//end & > li
		}//end .sl_usermenu
	}//end &__menu

	&__address {
		font-family: $header-font-family;

		a {
			color: get-color(inverse) !important;
			font-size: 1.25rem;
			display: block;
			line-height: 1.8;

			@include breakpoint (large only) {
				font-size: 1.125rem;
			}//end large only breakpoint
		}//end a

		p {
			font-size: 1.25rem;
			margin-bottom: 0;
			font-weight: $font-weight--semibold;
			line-height: 1.8;

			@include breakpoint (large only) {
				font-size: 1.125rem;
			}//end large only breakpoint
		}//end p

		.sl_phone {
			color: get-color(accent3) !important;
			font-weight: $font-weight--semibold;
		}//end .sl_phone
	}//end &__address

	//Info
	&__info {
		@include breakpoint (small down) {
			padding-top: $spacing--md
		}//end small down breakpoint
		
		.sl_inner {
			p {
				text-align: center;
				font-size: 1rem;
			}//end p

			& > * {
				color: get-color(inverse);
			}//end & > *

			a {
				color: get-color(inverse) !important;
			}//end a

			& > :last-child { margin-bottom: 0; }

			.sl_menu {
				justify-content: center;
				align-items: center;
				margin-bottom: $spacing--md;

				& * {
					color: get-color(inverse);
				}//end & *

				& > li {
					font-weight: $font-weight--bold;
					font-size: 1rem;
					position: relative;

					&:not(:last-of-type) {
						padding-right: $spacing--sm;
						margin-right: $spacing--sm;

						&:after {
							content: '|';
							position: absolute;
							right: 0;
							top: 0;
							font-weight: $font-weight--regular;
						}//end &:after
					}//end &:not(:last-of-type)
				}//end & > li

				a {
					padding: 0;
					line-height: 1.5;
				}//end a
			}//end .sl_menu
		}//end .sl_inner
	}//end &__info

	//Social
	&__socials {
		margin-bottom: $spacing--sm;
		.sl_socials {
			.sl_cell {
				width: auto;
				padding: 0 $spacing--xs/4;
				display: flex;
				align-items: center;

				@include breakpoint (small down) {
					width: 25%;
				}//end small down breakpoint
			}//end .sl_cell
		}//end .sl_socials
	}//end &__socials

}//end .sl_footer