.sl_header {
	position: relative;
	z-index: 999;
	background-color: get-color(secondary);

	@at-root .home .sl_header {
		background-color: transparent;
	}//end @at-root .home .sl_header
	
	// LARGE HEADER //
	.sl_nav {
		@include inner;
		background-color: transparent;
		position: relative;
		margin: 0 auto;
		padding: 0;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 300px;
			align-self: flex-end;

			@include breakpoint (large only) {
				max-width: 225px;
			}//end large only breakpoint
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			padding-bottom: rem-calc(30px);

			@include breakpoint (large only) {
				padding-bottom: $spacing--xs * 2;
			}//end large only breakpoint

			img {
				max-height: 50px;

				@include breakpoint (large only) {
					max-height: 40px;
				}//end large only breakpoint
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;
				padding-bottom: $spacing--xs;
				

				& > li {
					margin: 0;
					display: flex;
					align-items: center;
					& > a {
						background-color: transparent;
						color: get-color(primary);
						padding: $spacing--xs;
						@include transition (.2s all ease-in-out);
						font-size: 1.25rem;
						font-family: $header-font-family;
						font-weight: $font-weight--semibold;
						border-radius: $border-radius;
						position: relative;

						@include breakpoint (large only) {
							font-size: 1.125rem;
							padding: $spacing--xs $spacing--xs/2;
						}//end large only breakpoint

						&:hover {
							@include transition (.2s all ease-in-out);
							background-color: rgba(get-color(primary), .1);
						}//end &:hover
					}//end & > a
					
					//Mega menu hover class
					&.hover {
						& > a {
							background-color: rgba(get-color(primary), .1);
							&:after {
						    	@include pseudo;
								width: 0; 
								height: 0; 
								border-left: 10px solid transparent;  /* left arrow slant */
								border-right: 10px solid transparent; /* right arrow slant */
								border-bottom: 15px solid get-color(inverse); /* bottom, add background color here */
								font-size: 0;
								line-height: 0;
								bottom: 0;
								right: calc(50% - 10px);
								z-index: 11;
						    }//end &:after
						}//end a 
					}//end .hover class

					//Current Page 
					&.current_page_item, &.current_page_parent {
						& > a {
							color: get-color(primary);

							&:after {
								border-color: get-color(primary) transparent transparent;
							}//end &:after
						}//end & > a
					}//end &.current_page_item

					//Has Dropdown
					&.is-dropdown-submenu-parent {
						& > a {
							&:after {
								display: none;
							}//end &:after
						}//end & > a

						&.is-active {
							& > a {
								background-color: rgba(get-color(primary), .1);
								&:after {
							    	@include pseudo;
									width: 0; 
									height: 0;
									border-top: 0px;
									border-left: 10px solid transparent;  /* left arrow slant */
									border-right: 10px solid transparent; /* right arrow slant */
									border-bottom: 15px solid get-color(inverse); /* bottom, add background color here */
									font-size: 0;
									line-height: 0;
									top: auto;
									bottom: 0;
									right: calc(50% - 10px);
									z-index: 11;
							    }//end &:after
							}//end a 
						}//end &.is-active
					}//end &.is-dropdown-submenu-parent

					//Dropdown Menu
					&.opens-right {
						.is-dropdown-submenu {
							background: get-color(inverse);
							border: none;
							padding: 0;

							& > li {
								& > a {
									font-size: 1.25rem;
									font-family: $header-font-family;
									color: get-color(primary);
									font-weight: $font-weight--medium;
									padding: $spacing--xs $spacing--md;
									@include transition (.2s all ease-in-out);

									@include breakpoint (large only) {
										font-size: 1rem;
										padding: $spacing--xs;
									}//end large only breakpoint

									&:hover {
										background-color: get-color(accent3);
										color: get-color(inverse);
										@include transition (.2s all ease-in-out);
									}//end &:hover
								}//end & > a

								&.is-active {
									& > a {
										background-color: get-color(accent3);
										color: get-color(inverse);
									}//end & > a
								}//end .is-active
							}//end & > li
						}//end & > .is-dropdown-submenu
					}//end &.opens-right

					&.sl_menu__cta {
						background-color: get-color(accent1);
						border-radius: $border-radius;
						margin-left: $spacing--xs/2;
						& > a {
							color: get-color(inverse);
							font-size: 1.125rem;
						}//end & > a
					}//end &__cta
				}//end & > li
			}//end .sl_menu
		}//end &__menu


		// USER NAV
		&__secondary {
			display: flex;
			align-items: center;
			padding: $spacing--md 0;
		}//end &__secondary

		// PHONE
		&__phone {
			margin-right: $spacing--md;

			@include breakpoint (large only) {
				margin-right: $spacing--sm;
			}//end large only breakpoint
			.sl_phone {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				&__number {
					font-weight: $font-weight--bold;
					font-size: rem-calc(18px);
				}//end &__number

				&__cta {
					font-size: rem-calc(15px);
					font-weight: $font-weight--regular;
					color: get-color(inverse);
					text-transform: uppercase;
				}//&__cta
			}//end .sl_phone
		}//end &__phone

		&__search {
			@include transition(.3s all ease-in-out);

			.sl_form {
				//Input
				&__input {
					width: 90px;
					padding-left: 0;
					padding-right: $spacing--xs * 2;
					box-shadow: none;
					border: none;
					color: get-color(primary);
					@include transition(.3s all ease-in-out);
					background-color: transparent;
					border-radius: $border-radius;
					font-size: 1rem;
					margin-right: 0;

					//Place Holder Text
					@include placeholder {
						color: get-color(primary);
						font-size: 1rem;
					}//end @include placeholder

					&:active, &:focus {
						width: 150px;
						padding-left: $spacing--xs;
						background-color: get-color(accent2);
						@include transition(.3s all ease-in-out);
						border: none;
						box-shadow: none;

						@include breakpoint (large only) {
							width: 92px;
							padding-left: 0;
						}//end large only breakpoint
					}//end &:focus, &:hover, &:active
				}//end &__input

				&__search {
					right: $spacing--xs;
					margin-right: 0;
					@include transition(.3s all ease-in-out);

					&:hover {
						color: get-color(primary);
					}//end &:hover
				}//end &__search
			}//end .sl_form
		}//end &__search

		&__usermenu {
			.sl_menu {
				background-color: transparent;
				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						border-radius: $border-radius;
						color: get-color(primary);
						padding: $spacing--xs/2;
						position: relative;
						font-size: 1rem;
						font-weight: $font-weight--regular;
						@include transition(all .3s ease-in-out);

						@include breakpoint (large only) {
							padding: $spacing--xs/2;
						}//end large only breakpoint

						&:hover {
							background-color: rgba(get-color(inverse), .1);
						}//end &:hover
					}//end & > a

					&.sl_menu__cta {
						border: 2px solid get-color(primary);
						border-radius: $border-radius;
						margin: 0;
						margin-left: $spacing--xs/2;

						& > a {
							font-weight: $font-weight--semibold;
						}//end a
					}//end &__cta
				}//end & > li
			}//end .sl_menu
		}//end &__usermenu
	}//end .sl_nav

	// MOBILE HEADER
	.sl_mobilenav {
		background: none;
		padding: $spacing--lg $spacing--sm 0;
		align-items: center;

		@include breakpoint (medium only) {
			padding: $spacing--lg $spacing--md 0;
		}//end medium only breakpoint

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 200px;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 34px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;
		}//end &__right

		&__label {
			vertical-align: text-bottom;
		}//end &__label
	}//end .sl_mobilenav
}//end .sl_globalheader

//Makes sure the proper menu shows on the screen while js is loading
.no-js {
  @include breakpoint(medium down) {
    .sl_nav {
      display: none;
    }//end .sl_nav
  }//end breakpoint for medium down

  @include breakpoint(large) {
    .sl_mobilenav {
      display: none;
    }//end .sl_mobilenav
  }//end breakpoint for large
}//end .no-js