//OFF-CANVAS MENU
#sl_offcanvas {
	&.sl_mobilemenu {
		@include container;
		background-color: get-color(secondary);
		border-radius: 0;
		padding: $spacing--lg $spacing--xs;
	}//end &.sl_mobilemenu
}//#sl_offcanvas

.sl_mobilemenu {

	&__search {
		position: relative;
		margin-bottom: $spacing--xs;
		padding: 0 $spacing--xs;
		max-width: 200px;
		z-index: 1;

		.sl_form__input {
			border: 2px solid get-color(default);
			font-family: $header-font-family;
			font-weight: $font-weight--semibold;
			background-color: get-color(secondary);
		}//end .sl_form__input

		.sl_form__search {
			color: get-color(default);
		}//end .sl_form__search
	}//end &__search

	& > .sl_menu {
		background-color: transparent;
		padding: 0 $spacing--xs;
		margin-bottom: $spacing--sm;

		a {
			font-family: $header-font-family;
			font-weight: $font-weight--semibold;
			line-height: 1.2;
		}//end a

		& > li {
			border-bottom: 1px solid rgba(get-color(default), .15);

			& > a {
				background-color: transparent;
				font-size: 1.125rem;
				color: get-color(default);
				padding: $spacing--xs 0;
			}//end & > a

			
			// SECOND LEVEL MENU //
			& > .sl_nested {
				padding: 0 0 $spacing--xs 0;

				& > li {
					margin-bottom: $spacing--xs;

					& > a {
						color: get-color(default);
						font-size: 1rem;
						padding: 0;
					}//end & > a

					// THIRD LEVEL MENU
					& > .sl_nested {
						padding: $spacing--xs 0 0 $spacing--xs;

						& > li {
							margin-bottom: $spacing--xs/2;

							& > a {
								color: get-color(default);
								padding: 0;
								font-size: rem-calc(14px);
							}//end & > a
						}//end & > li
					}//end & > .sl_nested
				}//end & > li
			}//end & > .sl_nested
		}//end & > li

		li.is-accordion-submenu-parent > a:after {
			border: none;
			@include fontawesome( $content:'\f107');
			color: get-color(default);
			width: auto;
			height: auto;
			font-size: 1.125rem;
			top: calc(50% - .5625rem);
			margin: 0;
			right: -11.25px; 
		}//end &.is-accordion-submenu-parent > a:after

	}//end .sl_menu

	&__usermenu {
		.sl_menu {
			flex-direction: column; 
			padding: 0 $spacing--xs;
			margin-bottom: $spacing--sm;

			& > li {
				flex: 0 1 auto;
				font-size: 1rem;
				font-family: $header-font-family;
				margin-bottom: $spacing--xs/2;

				& > a {
					padding: 0;
					color: get-color(primary);
					font-weight: $font-weight--semibold;
				}//end & a
			}//end & > li
		}//end .sl_menu
	}//end &__usermenu

	&__callout {
		border-radius: .25rem;
		background-color: get-color(default);
		padding: $spacing--xs;
		padding-bottom: $spacing--sm;

		h4{
			text-align: center;
			line-height: 1.5;
			font-size: 1rem;
			font-weight: $font-weight--semibold;
			color: get-color(inverse);
			margin-bottom: $spacing--xs;
		}//end h4

		.sl_button {
			width: 100%;
			@include fancy-button;
			color: get-color(inverse);
		}//end .sl_button

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__callout
	
	&__close {
		position: absolute;
		right: $spacing--md;
		top: $spacing--lg;
		font-size: 1.125rem;
		z-index: 9999;
		color: get-color(default);

		i {
			display: block;
		}//end i
	}//end &__close
}//end .sl_mobilemenu

//OFF CANVAS OVERLAY
.js-off-canvas-overlay {
	background: rgba(get-color(default), .25);
}