//Default Page Template
body.page-template-default, body.page-template-template-nosidebar {
	background-color: get-color(secondary);

	.sl_content {
		padding: $spacing--lg 0;
	}//end .sl_content
}//end body.default
