body.search {
	background-color: get-color(secondary);
	
	.sl_content {
		&__body {

		}//end &__body

		&__sidebar {

		}//end &__sidebar

		&__loop {
		}//end &__loop
	}// .sl_content

	.sl_post {
		display: block;

		&:not(:last-of-type) {
			border-bottom: 1px solid rgba(get-color(default), .15);
		}
	}//end .sl_post

	.sl_pagination {

	}//end .sl_pagination
}//end body.search

//clears the 'X' from IE
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

//clears the 'X' from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
