//1. Default Sidebar
//2. FAQ Sidebar
//-------------------------

//1. Default Sidebar
.sl_sidebar {

	&__container {
		padding-right: $spacing--xl;

		@include breakpoint (large only) {
			padding-right: $spacing--md;
		}//end large only breakpoint
	}//end &__container

	&__menu {
		margin: 0;
		list-style: none;
		font-family: $header-font-family;
		font-size: 1.125rem;
		letter-spacing: 1;

		& > li {
			&:not(:last-of-type) {
				margin-bottom: $spacing--xs;
			}//end &:not(:last-of-type)

			& > a {
				font-weight: $font-weight--semibold;
				color: get-color(primary) !important;
				position: relative;
				display: block;

				&:after {
					@include fontawesome ($content: '\f054');
					position: absolute;
					right: 0;
				}//end &:after
			}//end & > a

			& > ul {
				list-style: none;
				margin-bottom: 0;

				& > li {
					font-size: 1rem;
					font-family: $body-font-family;
					padding-top: $spacing--xs/2;

					a {
						font-weight: $font-weight--regular;
					}//end a
				}//end & > li
			}//end & > ul
		}//end & > li
	}//end &__menu

	&__title {
		margin-bottom: $spacing--xs;
		color: get-color(default);
		font-size: 1.25rem;
		font-weight: $font-weight--semibold;
	}//end &__title

//2. FAQ Sidebar
	&--FAQ {
		.sl_sidebar__menu {
			padding: 0;
			background: none;

			& > li {
				background: none;
				box-shadow: none;
				border-radius: 0;

				& > a {
					padding: $spacing--xs/2 $spacing--sm 0 0;
					font-size: 1.125rem;
					font-weight: $font-weight--semibold;

					&:after {
						display: none;
					}//end &:

					&:before {
						right: 0;
					}//end &:before
				}//end & > a

				.sl_accordion__content {
					background: none;
					border-radius: 0;
					padding: 0;
					padding-top: $spacing--xs;

					& > ul {
						list-style: none;
						margin: 0;

						& > li {
							padding-bottom: $spacing--xs;
							margin-bottom: $spacing--xs;
							border-bottom: 1px solid rgba(get-color(default), .25);

							&:last-of-type {
								border-bottom: none;
							}//end &:last-of-type

							& > a {
								color: get-color(default);
								font-size: 1rem;
								font-weight: $font-weight--regular;
								display: block;
							}//end & > a
						}//end & > li
					}//end & > ul
				}//end .sl_accordion__content
			}//end & > li
		}//end .sl_diebar__menu
	}//end &--faq
}//end .sl_sidebar

//SEARCH SIDEBAR
body.search {
	.sl_sidebar {
		&__title {
		}//rnf &__title

	}//end .sl_sidebar
}//end body.search