/*----------------------
1. Primary Button
2. Secondary Button
3. Search Button
4. Menu Button
5. Border Button
6. Download Button
7. Pagination Button
8. Social Buttons
9. Share Button
10. Carousel Buttons
12. Back to Top Button
13. Video Button

- Button Group
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	@include transition (all .2s ease-in-out);
	background-color: get-color(accent1);
	font-size: 1.25rem;
	border-radius: $border-radius--pill;
	font-weight: $font-weight--bold;
	padding: $spacing--xs $spacing--md;

	@include breakpoint (small down) {
		font-weight: $font-weight--semibold;
		font-size: 1.125rem;
	}//end small down breakpoint


	&:hover {
		@include transition (all .2s ease-in-out);
	}//end &:hover

	//Medium Button
	&--medium {

	}//end &--medium
	
	//Small Button
	&--small {

	}//end &--small

//2. Secondary Button 
	&--secondary {
		background-color: get-color(secondary);

		&:hover {

		}//end &:hover
	}//end &--secondary

//3. Search Button
	&--search {
		display: inline-block;
		background: none;
		color: get-color(default);
		box-shadow: none;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: get-color(default);
		}//end &:hover
	}//end &--search

//4. Menu Button
	&--menu {
		padding: 0;
		background: none;
		border-radius: 0;
		color: get-color(primary);
		font-weight: $font-weight--semibold;
		font-size: 1.25rem;
		font-family: $header-font-family;
		margin-bottom: 0;

		&:hover, &:focus {
			background: none;
			color: get-color(primary);
		}//end &:hover, &:focus
	}//end &--menu

//5. Border Button
	&--border {
		background-color: transparent;
		border: 2px solid get-color(accent1);
		color: get-color(accent1);

		&:hover {
			background-color: get-color(accent1);
			color: get-color(inverse);
		}//end &:hover
	}//end &--border

//7. Download Button
	&--download{
		color: get-color(default);
		@include fancy-button;
		padding-right: $spacing--xl;
		
		&:before {
			background-image: url(#{$path-img}icon/download-icon.svg);
			background-repeat: no-repeat;
			background-size: 13px 13px;
			background-position: right $spacing--sm center;
		}//end &:before

		&:hover {
			color: get-color(default);
		}
	}//end &--download

//8. Pagination Button
	&--pagination {

	}//end &--pagination

//9. Social Buttons
	&--social {
		width: 50px;
		height: 50px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		&.sl_facebook {background-color: #3B5998;}
		&.sl_twitter {background-color: #1DA1F2;};
		&.sl_youtube {background-color: #FF0000;};
		&.sl_linkedin {background-color: #007BB5;};
	}//end .sl_button--social

//10. Share Button
	&--share {
		
	}//end .sl_button--share

//11. Carousel Buttons
	&--carousel {
		background-color: get-color(accent1);
		height: 4rem;
		width: 4rem;
		position: absolute;
		top: calc(50% - 2rem);
		z-index: 2;
		cursor: pointer;

		&:before {
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			background-size: 18px 25px;
			background-position: center center;

			@include breakpoint (small down) {
				background-size: 11px 17px;
			}//end small down breakpoint
		}//end &:before

		&.sl_prev {
			left: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-left-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				left: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_prev

		&.sl_next {
			right: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-right-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				right: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_next

	}//end &--carousel

//12. Back to Top Button
	&--backtop {
		background-color: get-color(accent3);
		position: fixed;
		z-index: 99;
		bottom: $spacing--xs;
		right: $spacing--xs;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		padding: 0;
		@include transition (all .3s ease-in-out);

		&.sl_active {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}//end &.sl_active
	}//end &--backtop

//13. Video Button
	&--video {
			background-color: rgba(get-color(inverse), .75);
			border: 2px solid rgba(get-color(default),.75);
			border-radius: 50%;
			padding: 0;
			z-index: 1;
			height: 84px;
			width: 84px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			@include transition(all .3s ease-in-out);

			&:after {
				@include fontawesome ($content: '\f04b');
				font-size: 30px;
				margin-left: 4px;
				color: get-color(default);
			}//end &:before

			&:hover, &:focus {
				background-color: rgba(get-color(inverse), 1);
			}//end &:hover
	}//end &--video
}//end .sl_button

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--md;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

}//end .sl_button-group
