.sl_card {
	padding: $spacing--lg;
	width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide & {
			min-height: 260px;

			@include breakpoint (medium down) {
				min-height: 200px;
			}//end medium down breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide & {
			padding: $spacing--md;
			text-align: center;

			@include breakpoint (medium only) {
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_deck &
	}//end &__content

//-----------------
//TYPES
//-----------------

	&--duo {
		padding: $spacing--xxl;

		@include breakpoint (large only) {
			padding: $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding: $spacing--lg $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--md $spacing--sm;
		}//end small down breakpoint

		@at-root .sl_duo--video .sl_card--duo {
			padding: $spacing--sm;
			padding-right: 0;
			padding-left: $spacing--xxxl;

			@include breakpoint (large only) {
				padding-left: $spacing--md;
			}//end large only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md $spacing--sm;
			}//end small down breakpoint
		}//end @at-root .sl_duo--video .sl_card--duo

		@at-root .sl_duo--video.sl_duo--right .sl_card--duo {
			padding-left: 0;
			padding-right: $spacing--xxxl;

			@include breakpoint (small down) {
				padding: $spacing--md $spacing--sm;
			}//end small down breakpoint
		}//end @at-root .sl_duo--video.sl_duo--right .sl_card--duo
	}//end &--duo

	&--deck, &--slide {
		padding: 0;
		height: 100%;
		border-radius: $border-radius--large;
		overflow: hidden;
		background-color: get-color(accent2);

		h3 {
			font-weight: $font-weight--semibold;
		}//end h3

		&.sl_card--noimage {
			display: flex;
			align-items: center;
			justify-content: center;
		}//end &.sl_card--noimage
	}//end &--deck, &--slide

	&--staff {
		padding: 0;
		background: get-color(inverse);
		color: get-color(default);
		border-radius: $border-radius;
		overflow: hidden;
		height: 100%;

		.sl_staff__image {
			width: 100%;
			height: auto;
		}//end .sl_staff__image

		.sl_card__content {
			padding: $spacing--sm;

			@include breakpoint (medium only) {
				padding: $spacing--xs;
			}//end medium only breakpoint

			p {
				margin-bottom: $spacing--xs/2;
			}//end p

			h3 {
				margin-bottom: $spacing--xs/2;

				@include breakpoint (large only) {
					font-size: 1.375rem;
				}//end large only breakpoint
			}//end h3

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end .sl_card__content
	}//end &--staff

	&--spotlight {
		padding: 0;
		text-align: center;
	}//end &--spotlight

	&--wysiwyg {
		padding: 0;
	}//end &--wysiwyg

}//end .sl_card

//CARD WRAPPERS
a.sl_card__wrapper {
	display: block;
	height: 100%;
	width: 100%;
}//end a.sl_card_wrapper
