//Form
.sl_form {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;

	//Input & Select
	&__input, &__select {
		border-radius: $border-radius--pill;
		background: background-color(inverse);
		color: get-color(default);
		margin: 0;
		padding: $spacing--xs/2 $spacing--sm;

		//Place Holder Text
		@include placeholder {
			color: get-color(default);
		}//end @include placeholder
	}//end &__input and select

	&__select {
		height: auto;
		@supports (appearance: none) {
			-webkit-appearance: none; 
			-moz-appearance: none;
			appearance: none;
			background-image: url(#{$path-img}icon/default-arrow-down.svg);
			background-size: 13px 9px; 
			background-position: right center;
			background-repeat: no-repeat;
		}//end @supports fix for IE 
	}//end &__select

	&__textarea {
		font-size: rem-calc(18px);
		padding: $spacing--xs $spacing--sm;

		//Place Holder Text
		@include placeholder {
			color: get-color(default);
			font-size: rem-calc(18px);
		}//end @include placeholder
	}//end &__textarea

	label {
		font-size: $font-size--regular;
	}//end label

	//Submit Button
	&__search {
		color: get-color(primary);
		right: $spacing--xs;
		position: absolute;
		font-weight: $font-weight--regular;
		font-size: rem-calc(13px);
		top: 0;
		bottom: 0;

		&:hover {
			color: get-color(inverse);
		}//end &:hover
	}//end &__form

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button
}//ebd .sl_search

//GRAVITY FORMS
.gform_wrapper {
		& * {
			font-size: 1.125rem;
		}//end & *

		label.gfield_label {
			font-weight: $font-weight--regular;
			color: get-color(default);

			.gfield_required {
				color: get-color(default);
			}//end .gfield_required
		}//end label.gfield_label

		//Input Field
		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
			border-radius: $border-radius;
			height: 60px;
			width: 100%;
			margin-bottom: $spacing--sm;
			color: rgba(get-color(default), .7);
			border: 1px solid get-color(primary);
			background-color: rgba(get-color(primary), .15);
			padding: $spacing--xs;
		}//end input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])

		//Select Field
		select[multiple=multiple] {
			border-radius: $border-radius;
			width: 100%;
			margin-bottom: $spacing--sm;
			color: rgba(get-color(default), .7);
			border: 1px solid get-color(primary);
			background-color: rgba(get-color(primary), .15);
			padding: $spacing--xs;
		}//end select[multiple=multiple]

		//Text Area
		textarea {
			border-radius: $border-radius;
			color: rgba(get-color(default), .7);
			border: 1px solid get-color(primary);
			width: 100%;
			background-color: rgba(get-color(primary), .15);
			padding: $spacing--xs;
		}//end textarea

		ul.gform_fields {
			li.gfield {
				margin-bottom: $spacing--sm;

				.gfield_radio {
					& > li:not(:last-of-type) {
						margin-bottom: $spacing--xs/2;
					}//end & > li:not(:last-of-type)
				}//end .gfield_radio
				input[type=radio] {
					width: 25px;
					height: 25px;
					margin-right: 10px;
					margin-bottom: 4px;
					margin-top: 0;
					background-color: rgba(get-color(primary), .15);
				}//end li.gfield input[type=radio]

			}//end li.gfield
		}//end ul.gform_fields

		.ginput_container_date {
			input {
				margin-bottom: 0 !important;
			}//end input
		}//end ginput_container_date

		.gform_footer {
			text-align: center;
			input[type=submit] {
				@extend .sl_button;
				min-height: 50px;
				min-width: 175px;
				line-height: 1;
			}//end input[type=submit]

			p {
				margin-bottom: 0;
			}
		}//end .gform_footer
	}//end .gform_wrapper