.slick-dots {
    margin: 0;
    z-index: 1;
    display: flex;

    li {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 5px;
        cursor: pointer;
        margin-bottom: 0 !important;

        &.slick-active {
            button {
                background-color: get-color(accent3);
                 border: 1px solid get-color(accent3);
            }//end button
        }//end &.slick-active

        button {
            background-color: transparent;
            border-radius: 50%;
            font-size: 0;
            line-height: 0;
            display: block;
            width: 16px;
            height: 16px;
            cursor: pointer;
            border: 1px solid get-color(secondary);
        }//end button
    }//end li
}//end .slick-dots